

/*************** General *******************/
#MapBox {
    min-height: 760px;
}

/*************** SOM *******************/

.mapPlot {
    top: 140px;
}
/*************** Buttons *******************/

.SelBtn {
    min-width: 73px;
}

.control{
    margin: 20px;
}

/*************** Slider *******************/

.slid {
    width: 100%;
}

