:root {
    --r-background-color: rgb(33, 33, 33);
    color: #fff;
}

html {
    height: 100%;
}

body {
    background: rgb(33, 33, 33);
    letter-spacing: 0.07em;
    padding-top: 40px;
    font-family: Arial, sans-serif;
}

/*************** General *******************/
h1 {
    position: absolute;
    font-size: 30pt;
    color: white;
}

h2 {
    /* position: absolute; */
    font-size: 24pt;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-top: -20px
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(630px, 1fr));
    grid-gap: 5px;
}

#MapBox {
    min-width: 650px;
    min-height: 795px;
    column-span: all;
}

#SliderBox {
    max-width: 750px;
}

#MotMatDiv {
    max-width: 750px;
}

/*************** SOM *******************/

#SelectButtons {
    margin-top: -10px;
    max-width: 700px
}

circle.Punkt {
    position: absolute;
    z-index: -1;
    stroke: rgb(255, 255, 255);
    stroke-width: 2px;
}

.mapPlot {
    position: absolute;
    border: 2px solid white;
    left: 50px;
    top: 200px;
    overflow: visible;
    z-index: 1;
}

.invis {
    display: none;
}

/*************** Buttons *******************/

.SelBtn {
    margin: 6px;
    height: 40px;
    min-width: 75px;
    font-size: 10.5pt;

    background-color: transparent;
    color: #999;
    border-radius: 7px;
    border: 2px solid #999;

    cursor: pointer;
}

.SelBtn.selected,
.SelBtn.active {
    /* background-color: red; */
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px;
}

.control {
    margin: 20px 20px;
}

.SelBtn.control {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*************** Slider *******************/

.slid {
    width: 100%;
}

.sliderFrame {
    width: 95%;
    /* margin: 20px; */
    padding: 15px 0px;
}

/*************Mod MAtrix ****************/

.MatBtn{
    width: 30px;
    height: 30px;
    padding: 0px;
    background-color: #999;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.MatBtn.greenM{
    background-color: #0f0;
    box-shadow: 0px 0px 8px #0f0;
}
.MatBtn.redM{
    background-color: #f22;
    box-shadow: 0px 0px 8px #f22;
}

.ModTab {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
}

.ModTab td {
    height: 45px;
    width: 11%;
    text-align: center 
    /* text-shadow: 0px 0px 5px; */
}

.ModTab th {
    height: 45px;
    width: 11%;
    color: #fff;
    /* color: #999; */
    font-weight: normal;

}

/* .ModTab th:hover {
    color: #fff;
    text-shadow: 0px 0px 5px;
} */

.ModTab td,
th,
.row,
.col {
    position: relative;
}

.ModTab td:hover::before {
    background-color: rgb(255, 255, 255, 0.1);
    content: '';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -1;
}

.ModTab td:hover::after {
    font-weight: bold;
    color: #000;
    background-color: rgb(255, 255, 255, 0.1);
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}